@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300&family=Gorditas&family=Lora:wght@500&family=Noto+Sans:wght@300;400&family=Playfair+Display:wght@600&family=Poppins:ital,wght@0,400;1,300&family=Raleway&family=Roboto+Mono:ital,wght@0,300;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  justify-content: center;
  align-items: center;
}
.main .inner {
  width: 600px;
  border-radius: 20px;
  height: 90%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.main .inner .top {
  width: 100%;
  background-color: #5fcfbe;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #dadada;
}
.main .inner .top .topin {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column-reverse;
}
.main .inner .top .topin p {
  font-size: 16px;
  color: #022c27;
  border: 1px solid white;
  font-weight: bolder;
  padding: 5px 15px;
  border-radius: 5px;
}
.main .inner .top .topin h4 {
  font-size: 20px;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
}
.main .inner .bottommain {
  background: #ffffff;
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main .inner .bottommain .bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.main .inner .bottommain .bottom .bubble {
  margin: 10px;
  width: 40px;
  height: 40px;
  background: #5fcfbe;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
.main .inner .bottommain #result {
  width: 100%;
  height: 100%;
  background-image: url("https://images2.alphacoders.com/125/1258544.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main .inner .bottommain #result p {
  font-size: 34px;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 100px;
  border-bottom: 1px solid #dadada;
}
.main .inner .bottommain #result p span {
  color: white;
  margin-left: 20px;
}
.main .inner .bottommain #result p:nth-child(2) {
  color: green;
}

@media only screen and (max-width: 810px) {
  .main .inner {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}/*# sourceMappingURL=style.css.map */